{% extends 'base.html.twig' %}
{% block body  %}
    <h1 class="mt-5">The Wild Circus</h1>
<div class="circle-three">
<div class="row row-cols-1 row-cols-md-3">
    {% for content in contents %}
            <article class="col oneline">
                <div class="circle-in">
                    <h3>{{ content.title }}</h3>
                    <img class="w-25" src="{{ content.poster }}" alt="...">
                    <p>{{ content.content }}</p>
                </div>
            </article>
{% endfor %}
</div>
</div>

{% endblock %}


