{% extends 'base.html.twig' %}

{% block body %}
    <div id="slogan">
        <div>
            <img  src="https://thumbs.gfycat.com/WelllitSickGrouper-size_restricted.gif" class="gif-wc" alt="gif-of-an-acrobat">
        </div>
        <div>
            <h1>Wild Circus</h1>
            <p >Let the show begin !</p>
        </div>
    </div>
    <div class="text-pres">
        <p>For its 6th edition, the Wild Circus brings you various discoveries, bringing together traditional and modern circus. Enter a prodigious and colorfull universe that will light your week end up.
            The Wild Circus center its theme on natural environnment and another world illusions. It brings together for this new edition companies from various domains.
            With <b>“Pulse Parade”</b>, you will meet mysterious creatures from another world ; along “Eclosion”, astonishing acrobatics, magic and illusions will take your breath away while listning to modern music sprinkle with noise from nature.
            A bit of madness in this serious world with clowns from <b>“Abracadabuz”</b> and their spectacular show “Jongly Bab'art”, fit of giggles guaranted, pirouettes, acrobatics and juggling will be in the spotlight. With <b>“Wad-hang lion”</b> you might clucht on to your seat and hold your breath, but fear not, thanks to Luang our beasts tamer everything will be fine... let's embark for a new adventure; we are waiting for you !</p>
    </div>
{% endblock %}