/*-------footer-------*/
.signature {
  text-align: center;
}

.profil {
  text-decoration: none;
  color: #eda302;
}

.profil:hover {
  color: #f50a0a;
}

.logo-footer {
  width: 100px;
  height: 50px;
  border-radius: 5%;
  margin: 30px;
}

.link-footer {
  display: flex;
  justify-content: center;
}
