#slogan {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  color: #eda302;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-right: 150px;
}

.gif-wc {
  height: 250px;
  width: 400px;
}

.text-pres {
  text-align: justify;
  text-indent: 4em;
  line-height: 30px;
  padding: 0 50px;
  margin: 5rem 7rem 5rem;
}

p {
  color: white;
}
