<header>
    <div class="image-intro" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(245,10,10,0.3) 80%), url('https://cdn.pixabay.com/photo/2015/07/02/10/16/circus-828680_960_720.jpg');">
        <div class="logo-banner">
            <div >
                <img id="logowc" src="{{asset('build/images/logo.png')}}" alt="logo-wild-circus">
            </div>
        </div>
    </div>
</header>