{% extends 'base.html.twig' %}

{% block main %}

    <div class="main">
        {% include 'navbar.html.twig' %}
            <header>
                {% include 'header.html.twig' %}
            </header>
        <div class="about-us">
            <img class="about-img" src="https://images.pexels.com/photos/2337777/pexels-photo-2337777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="picture-of-circus">
            <p>The Wild Circus is born from an artist and a web developer, both fond of circus and acrobat to be. They engaged in “Concrete Art'Codes” association which bring art and digital together. With big top and outdoor activities almost nonexistant in the region, these two friends decided with help from acrobats, art and circus fans to create their own circus. Both dreamy and wanted to escape reality while close to nature, they created a show focused on nature and fantasy.
                At the beginning in 2008, it's a small show with few visitors but in 2011 it has its biggest succes. Gathering various artists from all over france, wanting to promote curiosity and awakening to many, the Wild Circus keeps growing bigger.
            </p>
        </div>
            {% block body %}
            {% endblock %}
        </div>

{% endblock %}